

# sequencing data
**/*fastq.gz
**/*fastq

# trimmomatic log files
data/qc/*.log.gz

# reference data (too big)
data/reference/*
!data/reference/README.md

# STAR outputs (too big)
data/mapped_STAR/*
## but keep those log files
!data/mapped_STAR/Log*

# Trash files
trash/*
!trash/README.md

# renv created
.Rproj.user
